services:
  # сама api
  api:
    build: .
    restart: unless-stopped
    environment:
      - DEV_MODE=false
      - DATABASE_DSN=postgresql+asyncpg://${DB_USER}:${DB_PASS}@postgres:5432/${DB_NAME}
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    command: poetry run uvicorn src.presentation.api.main:app --host 0.0.0.0 --port 8000 --log-level critical
    volumes:
      - .:/app
    networks:
      - network

  # база данных
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - network

networks:
  network:
    driver: bridge

volumes:
  postgres:
    driver: local
