services:
  # сам бот
  api:
    build: .
    restart: unless-stopped
    environment:
      - DATABASE_DSN=postgresql+asyncpg://${DB_USER}:${DB_PASS}@postgres:5432/${DB_NAME}
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    networks:
      - network

  # база данных
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - network

networks:
  network:
    driver: bridge

volumes:
  postgres:
    driver: local
